@import 'assets/scss/index.scss';

$sizes: 's', 'm', 'l', 'xl';

$sizesHeight: (
    s: 32px,
    m: 40px,
    l: 48px,
    xl: 56px,
);

.logo {
    display: flex;
    padding: 0;
    margin: 0;
    width: fit-content;
    align-items: center;
    justify-self: flex-start;
    img {
        max-height: 100%;
    }
}

.logoMinified {
    display: flex;
}

@each $size in $sizes {
    .logoSize-#{$size} {
        height: map-get($sizesHeight, $size);
        &.logoMinified {
            width: map-get($sizesHeight, $size);
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
