@import 'assets/scss/index.scss';

$animation-duration: 2s;
$types: 'text', 'circle', 'rectangle';
$radiusByType:(
    text: 8px,
    rectangle: 0,
    circle: 50%,
);

.skeleton {
    display: flex;
    position: relative;
    background: $skeleton-dark;
    overflow: hidden;
    border-radius: 8px;

    @include pseudo-element(after) {
        @include size(100%);
        min-width: 600px;
        top: 0;
        left: 0;
        opacity: .6;
        background: $skeleton-dark;
        background-image: linear-gradient(90deg, transparent 0, $skeleton-light 70%, transparent 100%);
        background-size: 100%;
        animation: skeleton-lines $animation-duration infinite linear;
    }
    & + .skeleton {
        margin-top: 10px;
    }
}

@each $type in $types {
    .skeletonType-#{$type} {
        border-radius: map-get($radiusByType, $type);
    }
}

@keyframes skeleton-lines {
    0% {
        transform: translate(-100%);
    }
    50% {
        transform: translate(0);
    }
    100% {
        transform: translate(100%);
    }
}
