@import 'assets/scss/index.scss';

$themes: 'primary', 'secondary' , 'success' , 'danger' , 'invisible';
$sizeKeys: 's', 'm', 'l';

$activeBgPrimary:#2963d2;
$hoverBgPrimary:#236bf6;
$hoverBgDanger:#d92d16;
$activeBgDanger:#c42914;
$activeBgSuccess:#16c976;
$hoverBgInvisible: #f5f7f9;
$activeBgInvisible: #e6eaf2;

$buttonSizeHeight:(
    s: 48px,
    m: 58px,
    l: 64px,
);

$buttonSizeFont:(
    s: 14px,
    m: 16px,
    l: 18px,
);

$buttonSizeFontWeight:(
    s: $fontWeightMedium,
    m: $fontWeightSemiBold,
    l: $fontWeightSemiBold,
);

$buttonSizeRadius:(
    s: $radius200,
    m: $radius300,
    l: $radius400,
);

.button {
    @include font-style($font-family, 16px, $shades-regular);
    font-weight: $fontWeightMedium;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    width: 100%;
    padding: 0 $indent-big;
    border-radius: $radius200;
    border: 1px solid transparent;
    text-decoration: none;
    transition: .3s;
    outline: none;
    cursor: pointer;
    &:active {
        transform: scale(.96);
    }
    &:focus {
        outline: none;
    }
    &.buttonDisabled {
        background: $shades-light;
        color: $shades-tertiary;
        pointer-events: none;
        border-color: $shades-light;
    }

    &.button-loading {
        pointer-events: none;
    }

    &Outline {
        background: transparent;
        border: 2px solid  $primary-regular;
        color: $primary-regular;
        &.button {
            &-theme-primary {
                background: $white;
                color: $primary-regular;
                &:hover,
                &.button-loading {
                    color: $white;
                }
                &.button-loading {
                    background: $hoverBgPrimary;
                }
            }
            &-theme-secondary {
                background: $white;
                color: $primary-dark;
                border-color: $primary-light;
                &:hover {
                    border: 2px solid $primary-dark;
                }
            }
            &-theme-success {
                background: $white;
                color: $secondary-regular;
                border-color: $secondary-regular;
                &:hover {
                    background-color: $secondary-regular;
                }
                &:hover,
                &.button-loading {
                    color: $white;
                }
                &.button-loading,
                &:active {
                    border-color: $secondary-dark;
                    background-color: $secondary-dark;
                }
            }
            &-theme-danger {
                background: $white;
                color: $danger-regular;
                border-color: $danger-regular;
                &:hover,
                &.button-loading {
                    color: $white;
                }
                &.button-loading {
                    background-color: $danger-regular;
                }
            }
            &-theme-invisible {
                background: $white;
                color: $shades-regular;
                border-color: $shades-light;
                &:hover,
                &.button-loading {
                    border: 2px solid $shades-regular;
                }
                &.button-loading {
                    background-color: $shades-tertiary;
                }
            }
        }
    }

    &-theme-primary {
        background-color: $primary-regular;
        color: $white;
        &:hover {
            background-color: $hoverBgPrimary;
        }
        &:active {
            background-color: $activeBgPrimary;
        }
        &:focus {
            box-shadow: 0 0 0 3px rgba($primary-regular, .3);
        }
        &.button-loading {
            background-color: $primary-dark;
        }
    }

    &-theme-secondary {
        background-color: $primary-light;
        color: $primary-regular;
        &:hover {
            border: 1px solid $primary-regular;
        }
        &:active {
            background-color: rgba($primary-tertiary, .4);
        }
        &:focus {
            box-shadow: 0 0 0 3px rgba($primary-regular, .3);
        }
    }

    &-theme-success {
        background-color: $secondary-regular;
        color: $white;
        &:hover {
            background-color: $secondary-shades;
        }
        &:active {
            background-color: $activeBgSuccess;
        }
        &:focus {
            box-shadow: 0 0 0 3px rgba($secondary-regular, .3);
        }
        &.button-loading {
            background-color: $secondary-dark;
        }
    }

    &-theme-danger {
        background-color: $danger-regular;
        color: $white;
        &:hover {
            background-color: $hoverBgDanger;
        }
        &:active {
            background-color: $activeBgDanger;
        }
        &:focus {
            box-shadow: 0 0 0 3px rgba($danger-regular, .3);
        }
        &.button-loading {
            background-color: $danger-dark;
        }
    }

    &-theme-invisible {
        background-color: $shades-invisible;
        color: $shades-regular;
        &:hover {
            background-color: $hoverBgInvisible;
            border: 1px solid $shades-tertiary;
        }
        &:active {
            background-color: $activeBgInvisible;
        }
        &:focus {
            box-shadow: 0 0 0 3px rgba($shades-tertiary, .3);
        }
        &.button-loading {
            background-color: $shades-tertiary;
        }
    }

    @each $size in $sizeKeys {
        &-size-#{$size} {
            height: map-get($buttonSizeHeight, $size);
            font-size: map-get($buttonSizeFont, $size);
            font-weight: map-get($buttonSizeFontWeight, $size);
            border-radius: map-get($buttonSizeRadius, $size);;
        }
    }
}
