@import 'assets/scss/index.scss';

$sizeKeys: 's', 'm', 'l';

$linearLoaderSizes: (
    s: 8px,
    m: 10px,
    l: 12px,
);

$circleLoaderSizes: (
    s: 30px,
    m: 42px,
    l: 64px,
);

.progressBarWrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.progressBarWrapperCircle {
    @each $size in $sizeKeys {
        &-#{$size} {
            @include size(map-get($circleLoaderSizes,$size));
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.progressBarWrapperLinear {
    @each $size in $sizeKeys {
        &-#{$size} {
            height: map-get($linearLoaderSizes, $size);
        }
    }
}

.progressLinear {
    @include size(100%);
    position: relative;
    display: flex;
    background-color: $shades-invisible;
    border-radius: 50px;
    overflow: hidden;
}

.progressLinearIndicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 50px;
    color: $secondary-regular;
}

.progressCircle {
    display: flex;
    color: $secondary-regular;
}
