/* stylelint-disable selector-class-pattern */
.colorCard {
    position: relative;
    width: 176px;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 15px;
    margin: 15px;
    flex-direction: column;
    padding: 20px 15px;
    text-transform: uppercase;
    > .copyButton {
        opacity: 0;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &:hover {
        > .copyButton {
            opacity: 1;
        }
    }
}
