@import 'assets/scss/index.scss';

$sizeKeys: 's', 'm', 'l';

$iconSizes: (
    s: 18px,
    m: 24px,
    l: 32px,
);

.iconWrapper {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    @each $size in $sizeKeys {
        &.iconSize-#{$size} {
            @include size(map-get($iconSizes, $size));
            svg {
                @include size(100%);
            }
        }
    }
}
