@import 'assets/scss/index.scss';
$sizes: 'tiny' , 'medium' , 'large';

.text {
    display: inline;
    font-family: $font-family;
    font-size: 14px;
}
@each $size in $sizes {
    .textSize#{$size} {
        font-size: map-get($text-size, $size);
    }
}
