@import 'assets/scss/index.scss';

$headings: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';

.titleWrapper {
    display: inline;
    @each $title in $headings {
        > #{$title} {
            &.title {
                font-family: $font-family;
                font-size: map-get($title-font-size, $title);
                font-weight: map-get($title-font-weight, $title);
                line-height: 1.2;
                margin: 0;
            }
        }
    }
}
