/* stylelint-disable selector-class-pattern */
.flexGrid {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.flexGridRow {
    flex-direction: row;
}

.flexGridColumn {
    flex-direction: column;
}

.flexGridAlignCenter {
    align-items: center;
}

.flexGridAlignStart {
    align-items: flex-start;
}

.flexGridAlignEnd {
    align-items: flex-end;
}

.flexGridJustifyStart {
    justify-content: flex-start;
}

.flexGridJustifyEnd {
    justify-content: flex-end;
}

.flexGridJustifyCenter {
    justify-content: center;
}
