$white: #fff;
$black: #000;

$skeleton-light: #e1e8f3;
$skeleton-dark: #a2b2ca;

$shades-dark: #13153b;
$shades-regular: #262c37;
$shades-shades: #646a76;
$shades-tertiary: #c3ccdc;
$shades-light: #eef1f6;
$shades-invisible: #f9f9fb;

$primary-dark: #0c3b95;
$primary-regular: #1c5bff;
$primary-shades: #6090ef;
$primary-tertiary: #a1bcf0;
$primary-light: #e9f0ff;
$primary-invisible: #f7faff;

$secondary-dark: #05a657;
$secondary-regular: #06c668;
$secondary-shades: #34d184;
$secondary-tertiary: #71dea9;
$secondary-light: #c6f5de;
$secondary-invisible: #f2fefa;

$danger-dark: #bf3425;
$danger-regular: #dd3d2c;
$danger-shades: #dd6558;
$danger-tertiary: #f2a69d;
$danger-light: #fcd6d2;
$danger-invisible: #fff5f3;

$warning-dark: #e08600;
$warning-regular: #ed9c23;
$warning-shades: #f0b356;
$warning-tertiary: #f6c984;
$warning-light: #fde1c3;
$warning-invisible: #fff6ed;

$additional-dark: #480ec2;
$additional-regular: #6323ed;
$additional-shades: #8451f1;
$additional-tertiary: #ad8cf1;
$additional-light: #e1d4fa;
$additional-invisible: #f7f3ff;
