@mixin respond-to($media) {
    @media (max-width: $media) {
        @content;
    }
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin placeholder-font-family($font-family) {
    &::-webkit-input-placeholder {
        font-family: $font-family;
    }
    &::-moz-placeholder {
        font-family: $font-family;
    }
    &:-moz-placeholder {
        font-family: $font-family;
    }
    &:-ms-input-placeholder {
        font-family: $font-family;
    }
}

@mixin set-icon-size($size) {
    width: $size;
    height: $size;
    background-size: $size;
}

@mixin size($size) {
    width: $size;
    height: $size;
}

@mixin pseudo-element($pseudo-element: after, $content: '', $position: absolute) {
    @if ($pseudo-element == all) {
        &:after,
        &:before {
            content: $content;
            position: $position;
            display: block;
            @content;
        }
    }
    @else {
        /* stylelint-disable-next-line CssSyntaxError */
        &:#{$pseudo-element} {
            content: $content;
            position: $position;
            display: block;
            @content;
        }
    }
}

@mixin font-style($family, $size: null, $color: null, $line-height: null) {
    font-family: $family;
    font-size: $size;
    color: $color;
    line-height: $line-height;
}

@mixin visibility($visibility, $opacity) {
    visibility: $visibility;
    opacity: $opacity;
}

@mixin background($icon: null, $size: contain, $position: center, $color: transparent, $repeat: no-repeat) {
    /* stylelint-disable-next-line scss/at-if-no-null */
    @if ($icon == null) {
        background: $color $position / $size $repeat;
    }
    @else {
        background: $color url('../../#{$icon}') $position / $size $repeat;
    }
}

@mixin flex($type: default, $display: flex, $direction: null, $align-items: null, $justify-content: null) {
    display: $display;
    flex-direction: $direction;
    @if $type == center {
        justify-content: center;
        align-items: center;
    }
    @else if $type == between-center {
        justify-content: space-between;
        align-items: center;
    }
    @else if $type == start {
        justify-content: flex-start;
        align-items: flex-start;
    }
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin css-triangle($color, $direction, $size: 8px, $position: absolute) {
    @include size(0);
    content: '';
    position: absolute;

    @if $direction == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        border-bottom: 0;
    }
    @else if $direction == up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        border-top: 0;
    }
    @else if $direction == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
    @else if  $direction == left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }
}

@mixin box-shadow($type, $position: top) {
    @if $type == 1 {
        box-shadow: 0 4px 24px rgba($dark, .12);
    }
}
