// z-index
$index-light-content: 1;
$index-content: 5;
$index-extra-content: 10;
$index-light-main: 15;
$index-main: 20;
$index-extra-main: 25;
$index-light-higher: 30;
$index-higher: 35;
$index-extra-higher: 40;
$index-over-all: 100;

// Font
$font-family: 'Inter', sans-serif;

// Other
$title-font-size: (
    h1: 48px,
    h2: 34px,
    h3: 30px,
    h4: 26px,
    h5: 22px,
    h6: 20px,
);

$title-font-weight: (
    h1: 700,
    h2: 600,
    h3: 600,
    h4: 600,
    h5: 600,
    h6: 600,
);

$text-size: (
    tiny: 14px,
    medium: 16px,
    large: 18px,
);

$fontWeightMedium: 500;
$fontWeightSemiBold: 600;

$radius100: 8px;
$radius200: 10px;
$radius300: 14px;
$radius400: 16px;
