@import 'assets/scss/index.scss';

$animationDuration: 1s;

.spinner {
    @include size(fit-content);
    display: block;
    animation: spin $animationDuration linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
